/*------------scss-background-color---------------------*/

$white-b-c: white;

$yellow-b-c: yellow;

$red-b-c: red;

$green-b-c: green;

$gray-b-c: gray;

/*----------------scss-color---------------------*/

$color-red: #FF0000;

$color-green: #00FF00;

$color-blue: #0000FF;

/*-----------------background-color---------------------*/

.bgcw{
	background-color: white;
}

.bgcy{
	background-color: yellow;
}

.bgcr{
	background-color: red;
}

.bgcg{
	background-color: #50846d;
}

/*-----------------color---------------------*/
.wcolor{
	color: white;
}

.rcolor{
	color:red;
}

.mnbcolor{
   background: #151B54;
}

.gcolor{
	color:gray;
}

.product-color{
	color: #333;
}

/*----------Border---------------*/

.border-color-top{
	border-top: 1px solid gray;	
}

.no-border{
	background-color: transparent;
	border: 0px solid;
}

.border-right-radius{
	border-top-right-radius: 2em;
	border-bottom-right-radius: 2em;
	
}

.border-left-radius{
	border-top-left-radius: 2em;
	border-bottom-left-radius: 2em;
	
}


